@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    font-family: 'MedievalSharp', cursive;
    font-weight: 400;
    font-style: normal;
}

:root {
    --tile-size: 72px;
    --menu-height: 50px;
    --small-padding: 15px;
    --border-radius: 15px;

    --border: 1px solid black;

    --void-color: #24292f;
    --selected-color-darker: #0a0b0c79;
    --cell-color: #fff;
    --menu-color: #f0f0f0;

    --grass-picture-1: url('/assets/imgs/tiles/ground/grass-1.png');
    --grass-picture-2: url('/assets/imgs/tiles/ground/grass-2.png');
    --grass-picture-3: url('/assets/imgs/tiles/ground/grass-3.png');
    --dirt-picture-1: url('/assets/imgs/tiles/ground/dirt-1.png');
    --dirt-picture-2: url('/assets/imgs/tiles/ground/dirt-2.png');
    --dirt-picture-3: url('/assets/imgs/tiles/ground/dirt-3.png');
}

body,
html {
    height: 100vh;
    width: 100vw;
    background-color: var(--void-color);
}

body {
    display: grid;
    grid-template-areas:
        'recourse-menu recourse-menu recourse-menu recourse-menu'
        'playground playground playground side-pan'
        'building-menu building-menu building-menu building-menu';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr auto;
}

.building-menu,
.recourses-menu {
    display: flex;
    cursor: pointer;
    user-select: none;
    width: 100vw;
    background-color: var(--menu-color);
}

.recourses-menu {
    grid-area: recourse-menu;
    gap: 15px;
    top: 0;
    padding: 10px;
}

.building-menu {
    grid-area: building-menu;
    text-align: center;

    bottom: 0;
    height: calc(var(--tile-size) + 25px);
}

.building-menu img {
    height: calc(var(--tile-size) - 30px);
    width: calc(var(--tile-size) - 30px);
}

.playground {
    grid-area: playground;
    max-height: calc(100vh - 138px);
    overflow: scroll;
}

.playground-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(var(--tile-size) * var(--playground-width));
}

.tile {
    height: var(--tile-size);
    width: var(--tile-size);
    text-align: center;
    line-height: var(--tile-size);
    cursor: pointer;
    user-select: none;
    background-color: var(--cell-color);
}

.tile:hover {
    color: var(--menu-color);
    opacity: 0.85;
}

.grass-1 {
    background-image: var(--grass-picture-1);
}
.grass-2 {
    background-image: var(--grass-picture-2);
}
.grass-3 {
    background-image: var(--grass-picture-3);
}

.dirt-1 {
    background-image: var(--dirt-picture-1);
}
.dirt-2 {
    background-image: var(--dirt-picture-2);
}
.dirt-3 {
    background-image: var(--dirt-picture-3);
}

.hidden {
    display: none;
}

.info-popup {
    position: fixed;
    max-width: 500px;
    top: calc(50vh - 100px);
    left: calc(50vw - 250px);
    font-size: 60px;
    background: rgba(255, 255, 255, 0.9);
    transform: scale(0);
    padding: var(--small-padding);
    border-radius: var(--border-radius);
    border: var(--border);
    user-select: none;
}

.side-pan {
    background-color: var(--menu-color);
    width: 300px;
    grid-area: side-pan;
}

.grow {
    transition: all 0.35s ease-in-out;
    transform: scale(1);
}

.shrink {
    transition: all 0.5s ease-out;
    transform: scale(0);
}

.building-menu-item {
    width: 125px;
    cursor: pointer;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.building-menu-item.active {
    color: var(--menu-color);
    background-color: var(--void-color);
}

.building-menu-item:hover {
    color: var(--menu-color);
    background-color: var(--selected-color-darker);
}
