:root {
    --cell-size: 72px;
    --menu-height: 50px;
    --small-padding: 15px;
    --border-radius: 15px;

    --border: 1px solid black;

    --void-color: #24292f;
    --selected-color-darker: #0a0b0c79;
    --cell-color: #fff;
    --menu-color: #f0f0f0;

    --grass-picture: url('/assets/imgs/tiles/grass.png');
    --dirt-picture: url('/assets/imgs/tiles/dirt.png');
    --grass-tree1-picture: url('/assets/imgs/tiles/trees/tree1.png'), url('/assets/imgs/tiles/grass.png');
    --grass-tree2-picture: url('/assets/imgs/tiles/trees/tree2.png'), url('/assets/imgs/tiles/grass.png');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

body,
html {
    height: calc(100vh - var(--menu-height));
    width: 100vw;
    background-color: var(--void-color);
}

footer,
header {
    cursor: pointer;
    position: fixed;
    width: 100vw;
    background-color: var(--menu-color);
}

header {
    top: 0;
}

footer {
    text-align: center;
    display: flex;
    bottom: 0;
    border: var(--border);
    height: calc(var(--cell-size) + 40px);
}

footer img {
    height: calc(var(--cell-size) - 10px);
    width: calc(var(--cell-size) - 10px);
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
    font-size: 22px;
}

li span {
    padding: 0 var(--small-padding);
}

main {
    margin-top: var(--menu-height);
    display: flex;
    flex-direction: row;
    width: calc(var(--playground-width) * var(--cell-size));
    flex-wrap: wrap;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: var(--border);
    text-align: center;
    line-height: var(--cell-size);
    cursor: pointer;
    user-select: none;
    background-color: var(--cell-color);
}

.dirt {
    background-image: var(--dirt-picture);
}

.grass {
    background-image: var(--grass-picture);
}

.grass-tree1 {
    background-image: var(--grass-tree1-picture);
}

.grass-tree2 {
    background-image: var(--grass-tree2-picture);
}

.river {
    background-image: var(--river);
}

.cell:hover {
    color: #f0f0f0;
    border-radius: var(--border-radius);
}

.hidden {
    display: none;
}

.info {
    position: fixed;
    max-width: 500px;
    top: calc(50vh - 100px);
    left: calc(50vw - 250px);
    font-size: 60px;
    background: rgba(255, 255, 255, 0.9);
    transform: scale(0);
    padding: var(--small-padding);
    border-radius: var(--border-radius);
    border: var(--border);
    user-select: none;
}

.grow {
    transition: all 0.35s ease-in-out;
    transform: scale(1);
}

.shrink {
    transition: all 0.5s ease-out;
    transform: scale(0);
}

.building-menu-item {
    width: 125px;
    border: 1px solid transparent;
    cursor: pointer;
    border-right: 1px solid black;
}

.building-menu-item.active {
    color: #f0f0f0;
    background-color: var(--void-color);
}

.building-menu-item:hover {
    color: #f0f0f0;
    background-color: var(--selected-color-darker);
}
